<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>User Dashboard</title>
		<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>
	<body>
	<h1>
		<!--/*@thymesVar id="username" type="java.lang.String"*/-->
		<a th:text="${user.username}"></a>, Welcome to User Panel
	</h1>
	<div class="container">
		<h1 style="position: center">Events List</h1>

		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
			<tr>
				<th>
					<a>Event Name</a>
				</th>
				<th>
					<a>Date</a>
				</th>
				<th>
					<a>Status</a>
				</th>
				<th> Actions </th>
			</tr>
			</thead>
			<tbody>
			<!--/*@thymesVar id="events" type="java.util.List"*/-->
			<tr th:each="event : ${events}">
				<!--/*@thymesVar id="name" type="java.lang.String"*/-->
				<td th:text="${event.name}"></td>
				<td th:text="${event.date}"></td>
				<td th:text="${event.status}"></td>
				<td> <a th:if="${event.status.name() == 'AVAILABLE'}"  th:href="@{/user/buy/{id}(id=${event.id})}" class="btn btn-primary">Buy</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div style="text-align:center;">
		<a class="btn btn-dark" style="text-align: center" href="#" th:href="@{/user/{id}/tickets(id=${user.id})}">My tickets</a>
		<a class="btn btn-dark" style="text-align: center" href="#" th:href="@{/logout}">Click Here to Logout</a>
	</div>
	</body>
</html>